# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Environment variables
.env

# Node dependencies
node_modules/

# Expo
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
